@using SCC.Controllers;

@model SCC_BL.User

@{
    Layout = null;
    ViewBag.Title = "Recuperación de contraseña";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Custom/User/signin.css">
    <link href="~/Content/boxicons.min.css" rel='stylesheet'>
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    @if (Session[SCC_BL.Settings.AppValues.Session.GLOBAL_TEMP_MESSAGE] != null)
    {
        @Html.Raw(Session[SCC_BL.Settings.AppValues.Session.GLOBAL_TEMP_MESSAGE]);
        Session[SCC_BL.Settings.AppValues.Session.GLOBAL_TEMP_MESSAGE] = null;
    }
    <div class="login-content">
        <div class="login-window admin-form">
            <div class="panel-heading">
                <figure>
                    <img class="logo" src="~/Content/img/logo-colored-titled.png" alt="">
                </figure>
            </div>
            <div class="panel-body">
                <form action="@Url.Action(nameof(UserController.PasswordRecovery), OverallController.GetControllerName(typeof(UserController)))" method="post">
                    <div class="section login-input-block">
                        <div class="row">
                            <div class="col-12">
                                @Html.TextBoxFor(modelItem => Model.Username, null, new { placeholder = "Nombre de usuario", autocomplete = "off", required = "", @class = "w-100" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                @Html.TextBox("password", null, new { placeholder = "Contraseña", type = "password", autocomplete = "off", required = "" })
                                <i class="bx bx-hide" id="togglePassword"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                @Html.TextBox("passwordConfirmation", null, new { placeholder = "Confirmar contraseña", type = "password", autocomplete = "off", required = "" })
                                <i class="bx bx-hide" id="togglePasswordConfirmation"></i>
                            </div>
                        </div>
                        @Html.HiddenFor(modelItem => Model.Token, new { @Value = Request["token"] })
                    </div>
                    <div class="section login-buttons">
                        <div class="login-button-container">
                            <button class="btn-login" type="submit">Cambiar contraseña</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        const togglePassword = document.querySelector("#togglePassword");
        const togglePasswordConfirmation = document.querySelector("#togglePasswordConfirmation");

        const password = document.querySelector("#password");
        const passwordConfirmation = document.querySelector("#passwordConfirmation");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);

            // toggle the icon
            this.classList.toggle("bx-show");
            this.classList.toggle("bx-hide");
        });

        togglePasswordConfirmation.addEventListener("click", function () {
            // toggle the type attribute
            const type = passwordConfirmation.getAttribute("type") === "password" ? "text" : "password";
            passwordConfirmation.setAttribute("type", type);

            // toggle the icon
            this.classList.toggle("bx-show");
            this.classList.toggle("bx-hide");
        });
    </script>
</body>
</html>