@using SCC.Controllers;
@using SCC_BL;

@model SCC.ViewModels.GroupManagementViewModel

@{
    User actualUser = (User)Session[SCC_BL.Settings.AppValues.Session.GLOBAL_ACTUAL_USER];

    int mainCategoryID = (int)SCC_BL.DBValues.Catalog.ELEMENT.ELEMENT_GROUP;

    string mainControllerName = OverallController.GetControllerName(typeof(GroupController));

    string logsControllerName = OverallController.GetControllerName(typeof(LogController));
    string logsActionName = nameof(LogController.Index);

    bool hasModel = Model.Group.ID != null && Model.Group.ID > 0;

    ViewBag.Title = "Administración de grupos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/panel")
@Styles.Render("~/Content/radio")

@*@Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/datatables")*@

<link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
<script src="~/Content/DataTables/datatables.min.js"></script>

<link href="~/Content/Custom/Chosen/chosen.min.css" rel="stylesheet" />
<script src="~/Content/Custom/Chosen/chosen.jquery.min.js"></script>

<link href="~/Content/Custom/Datatables/custom-datatables.css" rel="stylesheet" />

<div class="panel">
    <div class="accordion accordion-flush" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <strong> Crear / Editar grupo</strong>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse @(hasModel ? "show" : string.Empty)" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                @{
                    string formAction =
                        !hasModel ?
                            @Url.Action(nameof(GroupController.Create), mainControllerName) :
                            @Url.Action(nameof(GroupController.Edit), mainControllerName);
                }
                <form id="frmManage" action="@formAction" method="post">
                    @Html.HiddenFor(modelitem => Model.Group.ID)
                    @Html.HiddenFor(modelitem => Model.Group.BasicInfo)
                    @Html.HiddenFor(modelitem => Model.Group.BasicInfoID)

                    <div class="accordion-body">
                        <div class="row d-block text-center text-danger required-advise d-none m-5">
                            Por favor, ingrese todos los datos requeridos
                        </div>
                        @if (hasModel)
                        {
                            <div class="row property-field">
                                <div class="col-5 property-field-label">
                                    ID del sistema
                                </div>
                                <div class="col-7">
                                    <strong>@Model.Group.ID</strong>
                                </div>
                            </div>
                        }
                        <div class="row property-field">
                            <div class="col-5 property-field-label">
                                Nombre <span class="required">*</span>
                            </div>
                            <div class="col-7">
                                @Html.TextBoxFor(modelitem => Model.Group.Name, null, new { @class = "property-field-control", placeholder = "Nombre", autocomplete = "off", required = "" })
                            </div>
                        </div>
                        <div class="row property-field">
                            <div class="col-5 property-field-label">
                                Usuarios disponibles <span class="required">*</span>
                            </div>
                            <div class="col-7">
                                @Html.DropDownList(
                                    "userList",
                                    (ViewData[SCC_BL.Settings.AppValues.ViewData.Group.Manage.UserList.NAME] as MultiSelectList),
                                    new
                                    {
                                        @class = "property-field-control",
                                        placeholder = "Usuarios disponibles para el grupo",
                                        title = "Usuarios disponibles para el grupo",
                                        multiple = ""
                                    }
                                )
                            </div>
                        </div>
                        <div class="row property-field">
                            <div class="col-5 property-field-label">
                                Módulo al que aplica <span class="required">*</span>
                            </div>
                            <div class="col-7">
                                @Html.DropDownListFor(modelitem =>
                                    Model.Group.ApplicableModuleID,
                                    (ViewData[SCC_BL.Settings.AppValues.ViewData.Group.Manage.Module.NAME] as SelectList),
                                    new
                                    {
                                        @class = "property-field-control",
                                        placeholder = "Módulo al que aplica",
                                        title = "Módulo al que aplica",
                                        id = "moduleList"
                                    }
                                )
                            </div>
                        </div>
                    </div>
                    <div class="accordion-footer">
                        <div class="accordion-footer-info">
                            <p>* Campos requeridos</p>
                        </div>
                        <div class="accordion-footer-buttons">
                            @if (actualUser.HasPermission(SCC_BL.DBValues.Catalog.Permission.CAN_CREATE_GROUPS))
                            {
                                <button class="btn-custom-system btn-custom-system-secondary" id="btnCancel" type="button">Cancelar</button>

                                if (hasModel)
                                {
                                    <button id="btnSubmit" class="btn-custom-system btn-custom-system-primary" type="submit">Actualizar</button>
                                }
                                else
                                {
                                    <button id="btnSubmit" class="btn-custom-system btn-custom-system-primary" type="submit">Crear</button>
                                }
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="tableContainer">
    <table class="display cell-border" id="tbInfo">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Usuarios
                </th>
                <th>
                    Módulo al que aplica
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Group group in Model.GroupList)
            {
                string tableRowClass = string.Empty;
                if (group.BasicInfo.StatusID == (int)SCC_BL.DBValues.Catalog.STATUS_GROUP.DELETED)
                {
                    tableRowClass +=
                        string.IsNullOrEmpty(tableRowClass) ?
                            "strikethrough" :
                            " strikethrough";
                }

                <tr class="@tableRowClass">
                    <td>@group.Name</td>
                    <td>
                        <ol>
                            @foreach (UserGroupCatalog user in group.UserList)
                            {
                                User tempUser = new User(user.UserID);
                                tempUser.SetDataByID();

                                <li>
                                    @tempUser.Person.SurName @tempUser.Person.LastName @tempUser.Person.FirstName (id: @tempUser.Person.Identification)
                                </li>
                            }
                        </ol>
                    </td>
                    <td>
                        <ol>
                            @{
                                Catalog tempCatalog = new Catalog(group.ApplicableModuleID);
                                tempCatalog.SetDataByID();

                                <li>
                                    @tempCatalog.Description
                                </li>
                            }
                        </ol>
                    </td>
                    <td>
                        @if (group.BasicInfo.StatusID != (int)SCC_BL.DBValues.Catalog.STATUS_GROUP.DELETED)
                        {
                            <button data-elementid="@group.ID" class="btn-element-action btn-element-action-primary btn-group-edit" title="Editar">
                                <i class='bx bxs-pencil'></i>
                            </button>
                            <form class="d-inline frm-delete" action="@Url.Action(nameof(GroupController.Delete), mainControllerName)" method="post">
                                @Html.Hidden("groupID", group.ID)
                                <button class="btn-element-action btn-element-action-danger btn-group-delete" type="submit" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </button>
                            </form>
                            <button data-elementid="@group.ID" class="btn-element-action btn-element-action-warning btn-group-logs" title="Ver logs">
                                <i class='bx bx-book-reader'></i>
                            </button>
                        }
                        else
                        {
                            <button data-elementid="@group.ID" class="btn-element-action btn-element-action-warning btn-group-logs" title="Ver logs">
                                <i class='bx bx-book-reader'></i>
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        fetchDatatableBasicData().then(response => {
            const dateNow = new Date();
            let fileName = 'Listado de grupos' + '_' + dateNow.getFullYear() + '_' + (parseInt(dateNow.getMonth()) + 1).toString() + '_' + dateNow.getDate() + '_' + dateNow.getHours() + '_' + dateNow.getMinutes() + '_' + dateNow.getSeconds();

            let data = response;

            let customData;

            /*customData = {
            };
            data.push(customButton);*/

            let excelButton =
            {
                "title": null,
                "filename": fileName,
                "extend": "excel",
                "className": "btn-sm",
                "exportOptions": {
                    "columns": [0, 1, 2],
                    "rows": ":not('.strikethrough')"
                }
            };

            let pdfButton =
            {
                "title": null,
                "filename": fileName,
                "extend": "pdfHtml5",
                "className": "btn-sm",
                "orientation": "landscape",
                "pageSize": "LEGAL",
                "exportOptions": {
                    "columns": [0, 1, 2],
                    "rows": ":not('.strikethrough')"
                }
            };

            let copyButton =
            {
                "title": null,
                "filename": fileName,
                "extend": 'copy',
                "text": 'Copiar',
                "exportOptions": {
                    "modifier": {
                        page: 'current'
                    },
                    "columns": [0, 1, 2],
                    "rows": ":not('.strikethrough')"
                }
            };

            data["buttons"].push(excelButton);
            data["buttons"].push(pdfButton);
            data["buttons"].push(copyButton);

            startDataTable('#tbInfo', data);
        });

        fetchMultiSelectBasicData().then(response => {
            let data = response;

            startMultiSelect('#userList', data);
            startMultiSelect('#moduleList', data);
        });
    });

    $('.btn-group-edit').click((e) => {
        let message = '¿Quieres salir de esta pantalla para editar el elemento?';

        const element = e.currentTarget;
        const elementID = element.dataset.elementid;

        if (confirm(message) == true) {
            window.open('@Url.Action(nameof(GroupController.Manage), mainControllerName)?groupID=' + elementID, '_self');
        }
    });

    $('.btn-group-logs').click((e) => {
        const element = e.currentTarget;
        const elementID = element.dataset.elementid;

        window.open('@Url.Action(logsActionName, logsControllerName)?categoryID=' + @mainCategoryID + '&itemID=' + elementID, '_blank');
    });

    $('#btnCancel').click(() => {
        window.open('@Url.Action(nameof(GroupController.Manage), mainControllerName)', '_self');
    });

    $('.frm-delete').submit((e) => {
        let message = '¿Quieres eliminar este elemento del sistema?';

        if (confirm(message) != true) {
            return false;
        }
    });

    $('#btnSubmit').click(() => {
        const requiredAdviseElement = $('.required-advise');

        if (
            ($('#userList').val() == '' || $('#userList').val() == null) ||
            ($('#moduleList').val() == '' || $('#moduleList').val() == null)
        ) {
            $(requiredAdviseElement).removeClass('d-none');
            return false;
        }

        const message = '¿Quiere guardar los cambios?';

        if (confirm(message) != true) {
            return false;
        }
    });
</script>