@using SCC.Controllers;
@using SCC_BL;

@model SCC.ViewModels.RoleManagementViewModel

@{
    User actualUser = (User)Session[SCC_BL.Settings.AppValues.Session.GLOBAL_ACTUAL_USER];

    int mainCategoryID = (int)SCC_BL.DBValues.Catalog.ELEMENT.ELEMENT_ROLE;

    string mainControllerName = OverallController.GetControllerName(typeof(RoleController));

    string logsControllerName = OverallController.GetControllerName(typeof(LogController));
    string logsActionName = nameof(LogController.Index);

    bool hasModel = Model.Role.ID != null && Model.Role.ID > 0;

    ViewBag.Title = "Administración de roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/panel")
@Styles.Render("~/Content/radio")

@*@Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/datatables")*@

<link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
<script src="~/Content/DataTables/datatables.min.js"></script>

<link href="~/Content/Custom/Chosen/chosen.min.css" rel="stylesheet" />
<script src="~/Content/Custom/Chosen/chosen.jquery.min.js"></script>

<link href="~/Content/Custom/Datatables/custom-datatables.css" rel="stylesheet" />

<div class="panel">
    <div class="accordion accordion-flush" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <strong> Crear / Editar rol</strong>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse @(hasModel ? "show" : string.Empty)" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                @{
                    string formAction =
                        !hasModel ?
                            @Url.Action(nameof(RoleController.Create), mainControllerName) :
                            @Url.Action(nameof(RoleController.Edit), mainControllerName);
                }
                <form id="frmManage" action="@formAction" method="post">
                    @Html.HiddenFor(modelitem => Model.Role.ID)
                    @Html.HiddenFor(modelitem => Model.Role.BasicInfo)
                    @Html.HiddenFor(modelitem => Model.Role.BasicInfoID)

                    <div class="accordion-body">
                        <div class="row d-block text-center text-danger required-advise d-none m-5">
                            Por favor, ingrese todos los datos requeridos
                        </div>
                        @if (hasModel)
                        {
                            <div class="row property-field">
                                <div class="col-5 property-field-label">
                                    ID del sistema
                                </div>
                                <div class="col-7">
                                    <strong>@Model.Role.ID</strong>
                                </div>
                            </div>
                        }
                        <div class="row property-field">
                            <div class="col-5 property-field-label">
                                Identificador <span class="required">*</span>
                            </div>
                            <div class="col-7">
                                @Html.TextBoxFor(modelitem => Model.Role.Identifier, null, new { @class = "property-field-control", placeholder = "Identificador", autocomplete = "off", required = "" })
                            </div>
                        </div>
                        <div class="row property-field">
                            <div class="col-5 property-field-label">
                                Nombre <span class="required">*</span>
                            </div>
                            <div class="col-7">
                                @Html.TextBoxFor(modelitem => Model.Role.Name, null, new { @class = "property-field-control", placeholder = "Nombre", autocomplete = "off", required = "" })
                            </div>
                        </div>
                        <div class="row property-field @(actualUser.HasPermission(SCC_BL.DBValues.Catalog.Permission.CAN_ASIGN_PERMISSIONS_TO_ROLES) ? string.Empty : "d-none")">
                            <div class="col-5 property-field-label">
                                Permisos disponibles 
                            </div>
                            <div class="col-7">
                                @Html.DropDownList(
                                    "permissionList",
                                    (ViewData[SCC_BL.Settings.AppValues.ViewData.Role.Manage.PermissionList.NAME] as MultiSelectList),
                                    new
                                    {
                                        @class = "property-field-control",
                                        placeholder = "Permisos disponibles para el rol",
                                        title = "Permisos disponibles para el rol",
                                        multiple = ""
                                    }
                                )
                            </div>
                        </div>
                    </div>
                    <div class="accordion-footer">
                        <div class="accordion-footer-info">
                            <p>* Campos requeridos</p>
                        </div>
                        <div class="accordion-footer-buttons">
                            <button class="btn-custom-system btn-custom-system-secondary" id="btnCancel" type="button">Cancelar</button>
                            @if (hasModel)
                            {
                                if (actualUser.HasPermission(SCC_BL.DBValues.Catalog.Permission.CAN_MODIFY_ROLES))
                                {
                                    <button id="btnSubmit" class="btn-custom-system btn-custom-system-primary" type="submit">Actualizar</button>
                                }
                            }
                            else
                            {
                                if (actualUser.HasPermission(SCC_BL.DBValues.Catalog.Permission.CAN_CREATE_ROLES))
                                {
                                    <button id="btnSubmit" class="btn-custom-system btn-custom-system-primary" type="submit">Crear</button>
                                }
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@if (actualUser.HasPermission(SCC_BL.DBValues.Catalog.Permission.CAN_SEE_ROLES))
{
    <div class="tableContainer">
        <table class="display cell-border" id="tbInfo">
            <thead>
                <tr>
                    <th>
                        Identificador
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Permisos
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Role role in Model.RoleList)
                {
                    string tableRowClass = string.Empty;
                    if (role.BasicInfo.StatusID == (int)SCC_BL.DBValues.Catalog.STATUS_ROLE.DELETED)
                    {
                        tableRowClass +=
                            string.IsNullOrEmpty(tableRowClass) ?
                                "strikethrough" :
                                " strikethrough";
                    }

                    <tr class="@tableRowClass">
                        <td>@role.Identifier</td>
                        <td>@role.Name</td>
                        <td>
                            <ol>
                                @foreach (RolPermissionCatalog permission in role.PermissionList)
                                {
                                    Permission tempPermission = new Permission(permission.PermissionID);
                                    tempPermission.SetDataByID();

                                    <li>
                                        @tempPermission.Description
                                    </li>
                                }
                            </ol>
                        </td>
                        <td>
                            @if (role.BasicInfo.StatusID != (int)SCC_BL.DBValues.Catalog.STATUS_ROLE.DELETED)
                            {
                                <button data-elementid="@role.ID" class="btn-element-action btn-element-action-primary btn-role-edit" title="Editar">
                                    <i class='bx bxs-pencil'></i>
                                </button>
                                if (role.ID != (int)SCC_BL.DBValues.Catalog.USER_ROLE.SUPERUSER)
                                {
                                    if (actualUser.HasPermission(SCC_BL.DBValues.Catalog.Permission.CAN_DELETE_ROLES))
                                    {
                                        <form class="d-inline frm-delete" action="@Url.Action(nameof(RoleController.Delete), mainControllerName)" method="post">
                                            @Html.Hidden("roleID", role.ID)
                                            <button class="btn-element-action btn-element-action-danger btn-role-delete" type="submit" title="Eliminar">
                                                <i class='bx bxs-trash'></i>
                                            </button>
                                        </form>
                                    }
                                }
                                <button data-elementid="@role.ID" class="btn-element-action btn-element-action-warning btn-role-logs" title="Ver logs">
                                    <i class='bx bx-book-reader'></i>
                                </button>
                            }
                            else
                            {
                                <button data-elementid="@role.ID" class="btn-element-action btn-element-action-warning btn-role-logs" title="Ver logs">
                                    <i class='bx bx-book-reader'></i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<script>
    $(document).ready(function () {
        @if (!actualUser.HasPermission(SCC_BL.DBValues.Catalog.Permission.CAN_SEE_ROLES) && !actualUser.HasPermission(SCC_BL.DBValues.Catalog.Permission.CAN_CREATE_ROLES))
        {
            @:window.open('@Url.Action(nameof(HomeController.Index), OverallController.GetControllerName(typeof(HomeController)))', '_self');
        }

        fetchDatatableBasicData().then(response => {
            const dateNow = new Date();
            let fileName = 'Listado de roles' + '_' + dateNow.getFullYear() + '_' + (parseInt(dateNow.getMonth()) + 1).toString() + '_' + dateNow.getDate() + '_' + dateNow.getHours() + '_' + dateNow.getMinutes() + '_' + dateNow.getSeconds();

            let data = response;

            let customData;

            /*customData = {
            };
            data.push(customButton);*/

            let excelButton =
            {
                "title": null,
                "filename": fileName,
                "extend": "excel",
                "className": "btn-sm",
                "exportOptions": {
                    "columns": [0, 1, 2],
                    "rows": ":not('.strikethrough')"
                }
            };

            let pdfButton =
            {
                "title": null,
                "filename": fileName,
                "extend": "pdfHtml5",
                "className": "btn-sm",
                "orientation": "landscape",
                "pageSize": "LEGAL",
                "exportOptions": {
                    "columns": [0, 1, 2],
                    "rows": ":not('.strikethrough')"
                }
            };

            let copyButton =
            {
                "title": null,
                "filename": fileName,
                "extend": 'copy',
                "text": 'Copiar',
                "exportOptions":
                {
                    "modifier": {
                        page: 'current'
                    },
                    "columns": [0, 1, 2],
                    "rows": ":not('.strikethrough')"
                }
            };

            data["buttons"].push(excelButton);
            data["buttons"].push(pdfButton);
            data["buttons"].push(copyButton);

            startDataTable('#tbInfo', data);

            let toolbarControls = '';

            toolbarControls +=
                getControlForToolbar(
                    '<div class="radio-control d-inline-block"><input label="NO" name="filterActiveElements" onchange="onChangefilterActiveElementsEvent(this);" type="radio" value="false" @(Request["filterActiveElements"] == null || Request["filterActiveElements"] == "false" ? "checked" : string.Empty) /><input label="SI" name="filterActiveElements" onchange="onChangefilterActiveElementsEvent(this);" type="radio" value="true" @(Request["filterActiveElements"] == "true" ? "checked" : string.Empty) /></div>',
                    'Mostrar sólo activos'
                );

            $('div.toolbar').html(toolbarControls);
        });

        fetchMultiSelectBasicData().then(response => {
            let data = response;

            startMultiSelect('#permissionList', data);
        });
    });

    function getControlForToolbar(content, label) {
        let result = '';

        const divPropertyField = '<div class="row property-field m-3">%replaceContent%</div>';

        const divPropertyFieldLabel = '<div class="col-5 property-field-label">' + label + '</div>';
        const contentContainer = '<div class="col-7">' + content + '</div>';

        result =
            divPropertyField
                .replace('%replaceContent%', divPropertyFieldLabel + contentContainer);

        return result;
    }

    function onChangefilterActiveElementsEvent(element) {
        let url = '@Url.Action(nameof(RoleController.Manage), mainControllerName)';

        if (element.value == 'true') {
            url += '?filterActiveElements=' + element.value;
        }

        if ($('#identification').val()) {
            let message = 'Se actualizará todo el contenido de la página, ¿quieres continuar?';

            if (confirm(message) == true) {
                window.open(url, '_self');
            }
        } else {
            window.open(url, '_self');
        }
    }

    $('.btn-role-edit').click((e) => {
        let message = '¿Quieres salir de esta pantalla para editar el elemento?';

        const element = e.currentTarget;
        const elementID = element.dataset.elementid;

        if (confirm(message) == true) {
            window.open('@Url.Action(nameof(RoleController.Manage), mainControllerName)?roleID=' + elementID, '_self');
        }
    });

    $('.btn-role-logs').click((e) => {
        const element = e.currentTarget;
        const elementID = element.dataset.elementid;

        window.open('@Url.Action(logsActionName, logsControllerName)?categoryID=' + @mainCategoryID + '&itemID=' + elementID, '_blank');
    });

    $('#btnCancel').click(() => {
        window.open('@Url.Action(nameof(RoleController.Manage), mainControllerName)', '_self');
    });

    $('.frm-delete').submit((e) => {
        let message = '¿Quieres eliminar este elemento del sistema?';

        if (confirm(message) != true) {
            return false;
        }
    });

    $('#btnSubmit').click(() => {
        const requiredAdviseElement = $('.required-advise');

        /*if (
            ($('#permissionList').val() == '' || $('#permissionList').val() == null)
        ) {
            $(requiredAdviseElement).removeClass('d-none');
            return false;
        }*/

        const message = '¿Quiere guardar los cambios?';

        if (confirm(message) != true) {
            return false;
        }
    });
</script>