@using SCC.Controllers;
@using SCC_BL;
@using SCC.ViewModels;

@model ProgramFormBindingViewModel

@{
    User actualUser = (User)Session[SCC_BL.Settings.AppValues.Session.GLOBAL_ACTUAL_USER];

    int mainCategoryID = (int)SCC_BL.DBValues.Catalog.ELEMENT.ELEMENT_FORM;

    string mainControllerName = OverallController.GetControllerName(typeof(FormController));

    string logsControllerName = OverallController.GetControllerName(typeof(LogController));
    string logsActionName = nameof(LogController.Index);

    List<Program> allProgramList = (List<Program>)ViewData[SCC_BL.Settings.AppValues.ViewData.Form.FormBinding.AllProgramList.NAME];

    List<ProgramFormCatalog> allProgramFormCatalogList = (List<ProgramFormCatalog>)ViewData[SCC_BL.Settings.AppValues.ViewData.Form.FormBinding.AllProgramFormCatalogList.NAME];

    ViewBag.Title = "Asignación de formularios a programas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/panel")
@Styles.Render("~/Content/radio")

@*@Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/datatables")*@

<link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
<script src="~/Content/DataTables/datatables.min.js"></script>

<link href="~/Content/Custom/Chosen/chosen.min.css" rel="stylesheet" />
<script src="~/Content/Custom/Chosen/chosen.jquery.min.js"></script>

<link href="~/Content/Custom/Datatables/custom-datatables.css" rel="stylesheet" />


<div class="panel">
    <div class="accordion accordion-flush" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <strong> Asignar formulario a programas</strong>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <form id="frmManage" action="@Url.Action(nameof(FormController.FormBinding), mainControllerName)" method="post">
                    <div class="accordion-body">
                        <div class="row d-block text-center text-danger required-advise d-none m-5">
                            Por favor, ingrese todos los datos requeridos
                        </div>
                        <div class="row property-field">
                            <div class="col-5 property-field-label">
                                Formularios disponibles <span class="required">*</span>
                            </div>
                            <div class="col-7">
                                @Html.DropDownList(
                                    "formIDArray",
                                    (ViewData[SCC_BL.Settings.AppValues.ViewData.Form.FormBinding.FormList.NAME] as SelectList),
                                    "Seleccione un formulario",
                                    new
                                    {
                                        @class = "property-field-control",
                                        placeholder = "Formularios disponibles",
                                        title = "Formularios disponibles",
                                        data_placeholder = "Formularios disponibles"
                                    }
                                )
                            </div>
                        </div>
                        <div class="row property-field">
                            <div class="col-5 property-field-label">
                                Fecha de inicio <span class="required">*</span>
                            </div>
                            <div class="col-7">
                                @Html.TextBox(
                                    "startDate", 
                                    Model.StartDate.ToString("yyyy-MM-dd"),
                                    new
                                    {
                                        @class = "property-field-control",
                                        placeholder = "Fecha de inicio",
                                        title = "Fecha de inicio",
                                        autocomplete = "off",
                                        type = "date",
                                        required = ""
                                    }
                                )
                            </div>
                        </div>
                        <div class="row property-field">
                            <div class="col-5 property-field-label">
                                Programas disponibles <span class="required">*</span>
                            </div>
                            <div class="col-7">
                                @Html.DropDownList(
                                    "programIDArray",
                                    (ViewData[SCC_BL.Settings.AppValues.ViewData.Form.FormBinding.ProgramList.NAME] as MultiSelectList),
                                    new
                                    {
                                        @class = "property-field-control",
                                        placeholder = "Programas disponibles",
                                        title = "Programas disponibles",
                                        multiple = "",
                                        data_placeholder = "Programas disponibles"
                                    }
                                )
                            </div>
                        </div>
                    </div>
                    <div class="accordion-footer">
                        <div class="accordion-footer-info">
                            <p>* Campos requeridos</p>
                        </div>
                        <div class="accordion-footer-buttons">
                            <button class="btn-custom-system btn-custom-system-secondary" id="btnCancel" type="button">Cancelar</button>
                            <button id="btnSubmit" class="btn-custom-system btn-custom-system-primary" type="submit">Crear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="tableContainer">
    <table class="display cell-border" id="tbInfo">
        <thead>
            <tr>
                <th>
                    Formulario
                </th>
                <th>
                    Programas
                </th>
                <th>
                    Fecha de inicio
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Form form in Model.FormList.Where(e => e.ProgramFormCatalogList.Count() > 0))
            {
                string tableRowClass = string.Empty;
                if (form.BasicInfo.StatusID == (int)SCC_BL.DBValues.Catalog.STATUS_FORM.DELETED)
                {
                    tableRowClass +=
                        string.IsNullOrEmpty(tableRowClass) ?
                            "strikethrough" :
                            " strikethrough";
                }

                <tr class="@tableRowClass">
                    <td>@form.Name</td>
                    <td>
                        <ol>
                            @foreach (ProgramFormCatalog programFormCatalog in form.ProgramFormCatalogList)
                            {
                                <li>
                                    @{
                                        Program tempProgram = allProgramList.Where(e => e.ID == programFormCatalog.ProgramID).FirstOrDefault();
                                    }

                                    @tempProgram.Name
                                </li>
                            }
                        </ol>
                    </td>
                    <td>
                        <ol>
                            @foreach (ProgramFormCatalog programFormCatalog in form.ProgramFormCatalogList)
                            {
                                <li>
                                    @programFormCatalog.StartDate.ToString("dd/MM/yyyy");
                                </li>
                            }
                        </ol>
                    </td>
                    <td>
                        @if (form.BasicInfo.StatusID != (int)SCC_BL.DBValues.Catalog.STATUS_FORM.DELETED)
                        {
                            <button data-elementid="@form.ID" class="btn-element-action btn-element-action-primary btn-form-edit" title="Editar">
                                <i class='bx bxs-pencil'></i>
                            </button>
                            <form class="d-inline frm-delete" action="@Url.Action(nameof(FormController.DeleteFormBinding), mainControllerName)" method="post">
                                @Html.Hidden("formID", form.ID)
                                <button class="btn-element-action btn-element-action-danger btn-form-delete" type="submit" title="Eliminar">
                                    <i class='bx bxs-trash'></i>
                                </button>
                            </form>
                            <button data-elementid="@form.ID" class="btn-element-action btn-element-action-warning btn-form-logs" title="Ver logs">
                                <i class='bx bx-book-reader'></i>
                            </button>
                        }
                        else
                        {
                            <button data-elementid="@form.ID" class="btn-element-action btn-element-action-warning btn-form-logs" title="Ver logs">
                                <i class='bx bx-book-reader'></i>
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    var allProgramFormCatalogList = @Html.Raw(SCC.Controllers.OverallController.Serialize(allProgramFormCatalogList));

    $(document).ready(function () {
        @if (!actualUser.HasPermission(SCC_BL.DBValues.Catalog.Permission.CAN_ASIGN_FORMS_TO_PROGRAMS))
        {
            @:window.open('@Url.Action(nameof(HomeController.Index), OverallController.GetControllerName(typeof(HomeController)))', '_self');
        }

        fetchDatatableBasicData().then(response => {
            const dateNow = new Date();
            let fileName = 'Listado de programas con formularios' + '_' + dateNow.getFullYear() + '_' + (parseInt(dateNow.getMonth()) + 1).toString() + '_' + dateNow.getDate() + '_' + dateNow.getHours() + '_' + dateNow.getMinutes() + '_' + dateNow.getSeconds();

            let data = response;

            let customData;

            /*customData = {
            };
            data.push(customButton);*/

            let excelButton =
            {
                "title": null,
                "filename": fileName,
                "extend": "excel",
                "className": "btn-sm",
                "exportOptions": {
                    "columns": [0, 1, 2],
                    "rows": ":not('.strikethrough')"
                }
            };

            let pdfButton =
            {
                "title": null,
                "filename": fileName,
                "extend": "pdfHtml5",
                "className": "btn-sm",
                "orientation": "landscape",
                "pageSize": "LEGAL",
                "exportOptions": {
                    "columns": [0, 1, 2],
                    "rows": ":not('.strikethrough')"
                }
            };

            let copyButton =
            {
                "title": null,
                "filename": fileName,
                "extend": 'copy',
                "text": 'Copiar',
                "exportOptions":
                {
                    "modifier": {
                        page: 'current'
                    },
                    "columns": [0, 1, 2],
                    "rows": ":not('.strikethrough')"
                }
            };

            data["buttons"].push(excelButton);
            data["buttons"].push(pdfButton);
            data["buttons"].push(copyButton);

            startDataTable('#tbInfo', data);
        });

        fetchMultiSelectBasicData().then(response => {
            let data = response;

            startMultiSelect('#programIDArray', data);
            startMultiSelect('#formIDArray', data);
        });
    });

    $('#formIDArray').change((e) => {
        let currentControl = e.currentTarget;
        let currentValue = $(currentControl).val();
        updateProgramFormDisplay(currentValue);
    });

    function updateProgramFormDisplay(formIDArray) {
        if (formIDArray == null || formIDArray == '') return;

        const programIDArrayControl = $('#programIDArray');
        $(programIDArrayControl).val('').trigger("chosen:updated");

        let programIDArrayOptionsToShow = [];

        if (typeof (formIDArray) === 'string') {
            const elementsByForm =
                allProgramFormCatalogList.filter((e, index) => e.FormID === parseInt(formIDArray));

            programIDArrayOptionsToShow =
                programIDArrayOptionsToShow
                    .concat(elementsByForm);
        } else {
            for (let i = 0; i < formIDArray.length; i++) {
                const elementsByForm =
                    allProgramFormCatalogList.filter((e, index) => e.FormID === formIDArray[i]);

                programIDArrayOptionsToShow =
                    programIDArrayOptionsToShow
                        .concat(elementsByForm);
            }
        }

        for (let i = 0; i < programIDArrayOptionsToShow.length; i++) {
            $(programIDArrayControl).find('option[value="' + programIDArrayOptionsToShow[i].ProgramID + '"]').prop('selected', true);
        }

        $(programIDArrayControl).trigger("chosen:updated");
    }

    $('#btnCancel').click(() => {
        window.open('@Url.Action(nameof(FormController.FormBinding), mainControllerName)', '_self');
    });

    $('#btnSubmit').click(() => {
        const requiredAdviseElement = $('.required-advise');

        if (
            ($('#formIDArray').val() == '' || $('#formIDArray').val() == null) ||
            ($('#programIDArray').val() == '' || $('#programIDArray').val() == null)
        ) {
            $(requiredAdviseElement).removeClass('d-none');
            return false;
        }

        const message = '¿Quiere guardar los cambios?';

        if (confirm(message) != true) {
            return false;
        }
    });

    $('.btn-form-edit').click((e) => {
        let message = '¿Quieres salir de esta pantalla para editar el elemento?';

        const element = e.currentTarget;
        const elementID = element.dataset.elementid;

        if (confirm(message) == true) {
            window.open('@Url.Action(nameof(FormController.FormBinding), mainControllerName)?formID=' + elementID, '_self');
        }
    });

    $('.btn-form-logs').click((e) => {
        const element = e.currentTarget;
        const elementID = element.dataset.elementid;

        window.open('@Url.Action(logsActionName, logsControllerName)?categoryID=' + @mainCategoryID + '&itemID=' + elementID, '_blank');
    });

    $('.frm-delete').submit((e) => {
        let message = '¿Quieres eliminar este elemento del sistema?';

        if (confirm(message) != true) {
            return false;
        }
    });
</script>